<div class="example-container">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="snav.toggle()">menu</mat-icon>
      </button>
      <h1>Scheduler</h1>
      <span class="menu-spacer"></span>
      <a mat-button [routerLink]="'/create-account'"> This week </a>
<!--      <mat-icon>calendar_today</mat-icon>-->
      <a mat-button [routerLink]="'/create-contact'"> Today </a>
      <a mat-button (click)="openAboutDialog()"> About </a>
      <span class="example-spacer" style="flex: 1 1 auto;"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openUsersDialog()">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openUsersDialog()" style="text-align: center;cursor:pointer;
    width: 10%;margin: auto;background-color: #e9ecef; border-radius: .4rem;margin-top: 15%;" class="mat-elevation-z4">
    <mat-icon style="font-size: 80px;margin: 5%;margin-right: 55%;">person_add</mat-icon>
  </div>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="56">
    <mat-sidenav
      #snav
      [mode]="'side'"
      class="mat-elevation-z4"
      [fixedInViewport]="true"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="openUsersDialog()">Add</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
