html, body { height: 100%; background-color: #ececec; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

kendo-scheduler .k-scheduler-toolbar {
  z-index: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}
